@font-face {
    font-family: 'digital-7_italic';
    src: url('../fonts/digital-7/digital-7_italic.woff2') format('woff2'),
         url('../fonts/digital-7/digital-7_italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'digital-7_monoitalic';
    src: url('../fonts/digital-7/digital-7_mono_italic.woff2') format('woff2'),
         url('../fonts/digital-7/digital-7_mono_italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'digital-7_mono';
    src: url('../fonts/digital-7/digital-7_mono.woff2') format('woff2'),
         url('../fonts/digital-7/digital-7_mono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'digital-7';
    src: url('../fonts/digital-7/digital-7.woff2') format('woff2'),
         url('../fonts/digital-7/digital-7.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}