/* ------------------------ */
/* W3 SIGNAL COLORS */
/* ------------------------ */

.w3-signal-yellow {
    color: #fff;
    background-color: #f7ba0b
}

.w3-signal-orange {
    color: #fff;
    background-color: #d4652f
}

.w3-signal-red {
    color: #fff;
    background-color: #a02128
}

.w3-signal-violet {
    color: #fff;
    background-color: #904684
}

.w3-signal-blue {
    color: #fff;
    background-color: #154889
}

.w3-signal-green {
    color: #fff;
    background-color: #317f43
}

.w3-signal-grey {
    color: #fff;
    background-color: #9b9b9b
}

.w3-signal-brown {
    color: #fff;
    background-color: #7b5141
}

.w3-signal-white {
    color: #000;
    background-color: #f4f4f4
}

.w3-signal-black {
    color: #fff;
    background-color: #282828
}


/* ------------------------ */
/* W3 HIGHWAY COLORS */
/* ------------------------ */

.w3-highway-brown {
    color: #fff;
    background-color: #633517
}

.w3-highway-red {
    color: #fff;
    background-color: #a6001a
}

.w3-highway-orange {
    color: #fff;
    background-color: #e06000
}

.w3-highway-schoolbus {
    color: #fff;
    background-color: #ee9600
}

.w3-highway-yellow {
    color: #fff;
    background-color: #ffab00
}

.w3-highway-green {
    color: #fff;
    background-color: #004d33
}

.w3-highway-blue {
    color: #fff;
    background-color: #00477e
}
