USE [master]
GO
/****** Object:  Database [ObjectiveTest]    Script Date: 5/19/2018 12:37:51 AM ******/
CREATE DATABASE [ObjectiveTest]
GO
USE [ObjectiveTest]
GO
USE [ObjectiveTest]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 5/19/2018 12:37:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Answers]    Script Date: 5/19/2018 12:37:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Answers](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[QuestionId] [bigint] NULL,
	[Content] [nvarchar](max) NULL,
	[Order] [int] NULL,
	[Correct] [bit] NOT NULL,
	[Interchange] [bit] NOT NULL,
	[SelectedTimes] [int] NULL,
 CONSTRAINT [PK_dbo.Answers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chapters]    Script Date: 5/19/2018 12:37:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chapters](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NULL,
	[Order] [int] NULL,
	[ParentId] [int] NULL,
	[SubjectId] [int] NULL,
	[ManagementOrder] [int] NULL,
	[Validated] [bit] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Chapters] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exams]    Script Date: 5/19/2018 12:37:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exams](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[CreateDate] [datetime] NULL,
	[Desktop] [bit] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Exams] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Faculties]    Script Date: 5/19/2018 12:37:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Faculties](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Comment] [nvarchar](max) NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Faculties] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Matrices]    Script Date: 5/19/2018 12:37:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matrices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SubjectId] [int] NULL,
	[CreateDate] [datetime] NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Matrices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MatrixDetails]    Script Date: 5/19/2018 12:37:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MatrixDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MatrixId] [int] NOT NULL,
	[ChapterId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Excluded] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.MatrixDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 5/19/2018 12:37:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[Interchange] [bit] NOT NULL,
	[SubjectiveDifficulty] [decimal](18, 2) NULL,
	[ObjectiveDifficulty] [decimal](18, 2) NOT NULL,
	[SelectedTimes] [int] NULL,
	[CorrectTimes] [int] NULL,
	[ChapterId] [int] NOT NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
	[Mark] [decimal](18, 2) NULL,
	[Duration] [int] NULL,
	[ParentId] [bigint] NOT NULL,
	[Audio] [bit] NOT NULL,
	[Discrimination] [decimal](18, 2) NULL,
	[ManagementOrder] [int] NULL,
	[SubjectId] [int] NULL,
	[ListenedTimes] [int] NULL,
	[Validated] [bit] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Questions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionSheetDetails]    Script Date: 5/19/2018 12:37:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionSheetDetails](
	[QuestionSheetId] [bigint] NOT NULL,
	[QuestionId] [bigint] NOT NULL,
	[Order] [smallint] NULL,
	[AnswerId] [bigint] NULL,
	[Correct] [bit] NOT NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
	[ListenTimes] [tinyint] NULL,
	[Desktop] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.QuestionSheetDetails] PRIMARY KEY CLUSTERED 
(
	[QuestionSheetId] ASC,
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionSheets]    Script Date: 5/19/2018 12:37:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionSheets](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[CreateDate] [datetime] NULL,
	[Approved] [bit] NOT NULL,
	[Started] [bit] NOT NULL,
	[Completed] [bit] NOT NULL,
	[ExtraTime] [tinyint] NOT NULL,
	[ExtraTimeReason] [nvarchar](max) NULL,
	[Mark] [decimal](18, 2) NULL,
	[NumberOfCorrect] [smallint] NULL,
	[Total] [smallint] NULL,
	[Difficulty] [decimal](18, 2) NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.QuestionSheets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shifts]    Script Date: 5/19/2018 12:37:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shifts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[Activated] [bit] NOT NULL,
	[ActivateTime] [datetime] NULL,
	[Duration] [smallint] NULL,
	[Ended] [bit] NOT NULL,
	[EndDate] [datetime] NULL,
	[ExamId] [int] NULL,
	[QuestionSheetCreated] [bit] NOT NULL,
	[Desktop] [bit] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Shifts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShiftSubjects]    Script Date: 5/19/2018 12:37:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShiftSubjects](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ShiftId] [int] NULL,
	[SubjectId] [int] NULL,
	[MatrixId] [int] NULL,
 CONSTRAINT [PK_dbo.ShiftSubjects] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShiftSubjectStudents]    Script Date: 5/19/2018 12:37:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShiftSubjectStudents](
	[ShiftSubjectId] [bigint] NOT NULL,
	[StudentId] [int] NOT NULL,
	[QuestionSheetId] [bigint] NULL,
	[LogIn] [bit] NOT NULL,
	[LastLogIn] [datetime] NULL,
	[LastLogOut] [datetime] NULL,
 CONSTRAINT [PK_dbo.ShiftSubjectStudents] PRIMARY KEY CLUSTERED 
(
	[ShiftSubjectId] ASC,
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 5/19/2018 12:37:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Students] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 5/19/2018 12:37:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[FacultyId] [int] NULL,
	[ManagementOrder] [smallint] NULL,
	[Validated] [bit] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Subjects] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/19/2018 12:37:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Salt] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[CreateDate] [datetime] NULL,
	[LogOut] [bit] NOT NULL,
	[LastActivity] [datetime] NULL,
	[LastLogIn] [datetime] NULL,
	[LastPasswordChanged] [datetime] NULL,
	[LastLogOut] [datetime] NULL,
	[Comment] [nvarchar](max) NULL,
	[BuildInUser] [bit] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Exams] ON 

INSERT [dbo].[Exams] ([Id], [Name], [CreateDate], [Desktop], [Deleted]) VALUES (1, N'HK2 - Giữa kỳ - Đợt 1 - NH 17_18', CAST(N'2018-02-27T19:28:15.603' AS DateTime), 0, 0)
INSERT [dbo].[Exams] ([Id], [Name], [CreateDate], [Desktop], [Deleted]) VALUES (2, N'HK1 - Cuối kỳ - Đợt 2 - NH 18_19', CAST(N'2018-02-27T19:59:01.003' AS DateTime), 0, 0)
INSERT [dbo].[Exams] ([Id], [Name], [CreateDate], [Desktop], [Deleted]) VALUES (3, N'HK1 - Giữa kỳ - Đợt 1 - NH 20_21', CAST(N'2018-05-19T00:34:46.780' AS DateTime), 0, 0)
SET IDENTITY_INSERT [dbo].[Exams] OFF
SET IDENTITY_INSERT [dbo].[Faculties] ON 

INSERT [dbo].[Faculties] ([Id], [Name], [Comment], [Deleted]) VALUES (1, N'Test', NULL, 0)
SET IDENTITY_INSERT [dbo].[Faculties] OFF
SET IDENTITY_INSERT [dbo].[Shifts] ON 

INSERT [dbo].[Shifts] ([Id], [Name], [StartTime], [EndTime], [Activated], [ActivateTime], [Duration], [Ended], [EndDate], [ExamId], [QuestionSheetCreated], [Desktop], [Deleted]) VALUES (1, N'11/3/2017 - 18:00 - 90', CAST(N'2017-11-03T18:00:00.000' AS DateTime), CAST(N'2017-11-03T19:30:00.000' AS DateTime), 0, NULL, 90, 0, NULL, 1, 0, 0, 0)
INSERT [dbo].[Shifts] ([Id], [Name], [StartTime], [EndTime], [Activated], [ActivateTime], [Duration], [Ended], [EndDate], [ExamId], [QuestionSheetCreated], [Desktop], [Deleted]) VALUES (2, N'10/30/2017 - 07:30 - 90', CAST(N'2017-10-30T07:30:00.000' AS DateTime), CAST(N'2017-10-30T09:00:00.000' AS DateTime), 0, NULL, 90, 0, NULL, 1, 0, 0, 0)
INSERT [dbo].[Shifts] ([Id], [Name], [StartTime], [EndTime], [Activated], [ActivateTime], [Duration], [Ended], [EndDate], [ExamId], [QuestionSheetCreated], [Desktop], [Deleted]) VALUES (3, N'10/30/2017 - 09:00 - 90', CAST(N'2017-10-30T09:00:00.000' AS DateTime), CAST(N'2017-10-30T10:30:00.000' AS DateTime), 0, NULL, 90, 0, NULL, 1, 0, 0, 0)
SET IDENTITY_INSERT [dbo].[Shifts] OFF
SET IDENTITY_INSERT [dbo].[ShiftSubjects] ON 

INSERT [dbo].[ShiftSubjects] ([Id], [ShiftId], [SubjectId], [MatrixId]) VALUES (1, 1, 3, NULL)
INSERT [dbo].[ShiftSubjects] ([Id], [ShiftId], [SubjectId], [MatrixId]) VALUES (2, 2, 2, NULL)
INSERT [dbo].[ShiftSubjects] ([Id], [ShiftId], [SubjectId], [MatrixId]) VALUES (3, 3, 2, NULL)
SET IDENTITY_INSERT [dbo].[ShiftSubjects] OFF
INSERT [dbo].[ShiftSubjectStudents] ([ShiftSubjectId], [StudentId], [QuestionSheetId], [LogIn], [LastLogIn], [LastLogOut]) VALUES (1, 1, NULL, 0, NULL, NULL)
INSERT [dbo].[ShiftSubjectStudents] ([ShiftSubjectId], [StudentId], [QuestionSheetId], [LogIn], [LastLogIn], [LastLogOut]) VALUES (1, 2, NULL, 0, NULL, NULL)
INSERT [dbo].[ShiftSubjectStudents] ([ShiftSubjectId], [StudentId], [QuestionSheetId], [LogIn], [LastLogIn], [LastLogOut]) VALUES (1, 3, NULL, 0, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([Id], [Code], [Name]) VALUES (1, N'1615180003', N'Bùi Thị Phương Anh')
INSERT [dbo].[Students] ([Id], [Code], [Name]) VALUES (2, N'1615100001', N'Phạm Thị Hương Anh')
INSERT [dbo].[Students] ([Id], [Code], [Name]) VALUES (3, N'1616211001', N'Nguyễn Đình ánh')
GO
SET IDENTITY_INSERT [dbo].[Students] OFF
SET IDENTITY_INSERT [dbo].[Subjects] ON 

INSERT [dbo].[Subjects] ([Id], [Code], [Name], [FacultyId], [ManagementOrder], [Validated], [Deleted]) VALUES (2, N'SOS101', N'Cơ sở văn hóa Việt Nam', 1, NULL, 0, 0)
INSERT [dbo].[Subjects] ([Id], [Code], [Name], [FacultyId], [ManagementOrder], [Validated], [Deleted]) VALUES (3, N'451112', N'CSVHVN', 1, NULL, 1, 0)
SET IDENTITY_INSERT [dbo].[Subjects] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [Password], [Salt], [Name], [CreateDate], [LogOut], [LastActivity], [LastLogIn], [LastPasswordChanged], [LastLogOut], [Comment], [BuildInUser], [Deleted]) VALUES (3, N'admin', N'admin', NULL, NULL, NULL, 1, NULL, NULL, NULL, NULL, NULL, 1, 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Index [IX_QuestionId]    Script Date: 5/19/2018 12:37:52 AM ******/
CREATE NONCLUSTERED INDEX [IX_QuestionId] ON [dbo].[Answers]
(
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ParentId]    Script Date: 5/19/2018 12:37:52 AM ******/
CREATE NONCLUSTERED INDEX [IX_ParentId] ON [dbo].[Chapters]
(
	[ParentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SubjectId]    Script Date: 5/19/2018 12:37:52 AM ******/
CREATE NONCLUSTERED INDEX [IX_SubjectId] ON [dbo].[Chapters]
(
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MatrixId]    Script Date: 5/19/2018 12:37:52 AM ******/
CREATE NONCLUSTERED INDEX [IX_MatrixId] ON [dbo].[MatrixDetails]
(
	[MatrixId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChapterId]    Script Date: 5/19/2018 12:37:52 AM ******/
CREATE NONCLUSTERED INDEX [IX_ChapterId] ON [dbo].[Questions]
(
	[ChapterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_QuestionId]    Script Date: 5/19/2018 12:37:52 AM ******/
CREATE NONCLUSTERED INDEX [IX_QuestionId] ON [dbo].[QuestionSheetDetails]
(
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_QuestionSheetId]    Script Date: 5/19/2018 12:37:52 AM ******/
CREATE NONCLUSTERED INDEX [IX_QuestionSheetId] ON [dbo].[QuestionSheetDetails]
(
	[QuestionSheetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ExamId]    Script Date: 5/19/2018 12:37:52 AM ******/
CREATE NONCLUSTERED INDEX [IX_ExamId] ON [dbo].[Shifts]
(
	[ExamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MatrixId]    Script Date: 5/19/2018 12:37:52 AM ******/
CREATE NONCLUSTERED INDEX [IX_MatrixId] ON [dbo].[ShiftSubjects]
(
	[MatrixId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ShiftId]    Script Date: 5/19/2018 12:37:52 AM ******/
CREATE NONCLUSTERED INDEX [IX_ShiftId] ON [dbo].[ShiftSubjects]
(
	[ShiftId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SubjectId]    Script Date: 5/19/2018 12:37:52 AM ******/
CREATE NONCLUSTERED INDEX [IX_SubjectId] ON [dbo].[ShiftSubjects]
(
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_QuestionSheetId]    Script Date: 5/19/2018 12:37:52 AM ******/
CREATE NONCLUSTERED INDEX [IX_QuestionSheetId] ON [dbo].[ShiftSubjectStudents]
(
	[QuestionSheetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ShiftSubjectId]    Script Date: 5/19/2018 12:37:52 AM ******/
CREATE NONCLUSTERED INDEX [IX_ShiftSubjectId] ON [dbo].[ShiftSubjectStudents]
(
	[ShiftSubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_StudentId]    Script Date: 5/19/2018 12:37:52 AM ******/
CREATE NONCLUSTERED INDEX [IX_StudentId] ON [dbo].[ShiftSubjectStudents]
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FacultyId]    Script Date: 5/19/2018 12:37:52 AM ******/
CREATE NONCLUSTERED INDEX [IX_FacultyId] ON [dbo].[Subjects]
(
	[FacultyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Answers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Answers_dbo.Questions_QuestionId] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Questions] ([Id])
GO
ALTER TABLE [dbo].[Answers] CHECK CONSTRAINT [FK_dbo.Answers_dbo.Questions_QuestionId]
GO
ALTER TABLE [dbo].[Chapters]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Chapters_dbo.Chapters_ParentId] FOREIGN KEY([ParentId])
REFERENCES [dbo].[Chapters] ([Id])
GO
ALTER TABLE [dbo].[Chapters] CHECK CONSTRAINT [FK_dbo.Chapters_dbo.Chapters_ParentId]
GO
ALTER TABLE [dbo].[Chapters]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Chapters_dbo.Subjects_SubjectId] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([Id])
GO
ALTER TABLE [dbo].[Chapters] CHECK CONSTRAINT [FK_dbo.Chapters_dbo.Subjects_SubjectId]
GO
ALTER TABLE [dbo].[MatrixDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MatrixDetails_dbo.Matrices_MatrixId] FOREIGN KEY([MatrixId])
REFERENCES [dbo].[Matrices] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MatrixDetails] CHECK CONSTRAINT [FK_dbo.MatrixDetails_dbo.Matrices_MatrixId]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Questions_dbo.Chapters_ChapterId] FOREIGN KEY([ChapterId])
REFERENCES [dbo].[Chapters] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_dbo.Questions_dbo.Chapters_ChapterId]
GO
ALTER TABLE [dbo].[QuestionSheetDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.QuestionSheetDetails_dbo.Questions_QuestionId] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Questions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QuestionSheetDetails] CHECK CONSTRAINT [FK_dbo.QuestionSheetDetails_dbo.Questions_QuestionId]
GO
ALTER TABLE [dbo].[QuestionSheetDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.QuestionSheetDetails_dbo.QuestionSheets_QuestionSheetId] FOREIGN KEY([QuestionSheetId])
REFERENCES [dbo].[QuestionSheets] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QuestionSheetDetails] CHECK CONSTRAINT [FK_dbo.QuestionSheetDetails_dbo.QuestionSheets_QuestionSheetId]
GO
ALTER TABLE [dbo].[Shifts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Shifts_dbo.Exams_ExamId] FOREIGN KEY([ExamId])
REFERENCES [dbo].[Exams] ([Id])
GO
ALTER TABLE [dbo].[Shifts] CHECK CONSTRAINT [FK_dbo.Shifts_dbo.Exams_ExamId]
GO
ALTER TABLE [dbo].[ShiftSubjects]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ShiftSubjects_dbo.Matrices_MatrixId] FOREIGN KEY([MatrixId])
REFERENCES [dbo].[Matrices] ([Id])
GO
ALTER TABLE [dbo].[ShiftSubjects] CHECK CONSTRAINT [FK_dbo.ShiftSubjects_dbo.Matrices_MatrixId]
GO
ALTER TABLE [dbo].[ShiftSubjects]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ShiftSubjects_dbo.Shifts_ShiftId] FOREIGN KEY([ShiftId])
REFERENCES [dbo].[Shifts] ([Id])
GO
ALTER TABLE [dbo].[ShiftSubjects] CHECK CONSTRAINT [FK_dbo.ShiftSubjects_dbo.Shifts_ShiftId]
GO
ALTER TABLE [dbo].[ShiftSubjects]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ShiftSubjects_dbo.Subjects_SubjectId] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([Id])
GO
ALTER TABLE [dbo].[ShiftSubjects] CHECK CONSTRAINT [FK_dbo.ShiftSubjects_dbo.Subjects_SubjectId]
GO
ALTER TABLE [dbo].[ShiftSubjectStudents]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ShiftSubjectStudents_dbo.QuestionSheets_QuestionSheetId] FOREIGN KEY([QuestionSheetId])
REFERENCES [dbo].[QuestionSheets] ([Id])
GO
ALTER TABLE [dbo].[ShiftSubjectStudents] CHECK CONSTRAINT [FK_dbo.ShiftSubjectStudents_dbo.QuestionSheets_QuestionSheetId]
GO
ALTER TABLE [dbo].[ShiftSubjectStudents]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ShiftSubjectStudents_dbo.ShiftSubjects_ShiftSubjectId] FOREIGN KEY([ShiftSubjectId])
REFERENCES [dbo].[ShiftSubjects] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ShiftSubjectStudents] CHECK CONSTRAINT [FK_dbo.ShiftSubjectStudents_dbo.ShiftSubjects_ShiftSubjectId]
GO
ALTER TABLE [dbo].[ShiftSubjectStudents]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ShiftSubjectStudents_dbo.Students_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ShiftSubjectStudents] CHECK CONSTRAINT [FK_dbo.ShiftSubjectStudents_dbo.Students_StudentId]
GO
ALTER TABLE [dbo].[Subjects]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Subjects_dbo.Faculties_FacultyId] FOREIGN KEY([FacultyId])
REFERENCES [dbo].[Faculties] ([Id])
GO
ALTER TABLE [dbo].[Subjects] CHECK CONSTRAINT [FK_dbo.Subjects_dbo.Faculties_FacultyId]
GO
USE [master]
GO
