<header>
    <h4><b>ĐỢT: {{ exam.name }}</b></h4>
    <div class="w3-row-padding w3-margin-bottom">
        <a data-ng-click="showAdd()" href="javascript:void(0)" class="w3-left w3-btn w3-indigo">Tạo ca thi</a>
        <form data-ng-submit="searchResult()">
            <input type="text" name="search" data-ng-model="StudentCode" placeholder="Nhập mã sinh viên">
            <button type="submit" class="w3-btn w3-indigo w3-text-white">Tìm</button>
        </form>
        <a class="w3-right w3-btn w3-small w3-white w3-border w3-border-green w3-round" ui-sref="home">❮ Quay lại</a>
    </div>
    <hr />
</header>

<h6>Danh sách ca thi - Số lượng: {{shifts.length}}</h6>

<div>
    <a data-ng-click="showImportMatrix()" href="javascript:void(0)" class="w3-btn w3-indigo">Nhập Ma trận đề</a>
    <a data-ng-click="showImport()" href="javascript:void(0)" class="w3-btn w3-indigo">Nhập Danh sách sinh viên</a>
    <a data-ng-click="showCreateQuestionSheetsConfirm()" href="javascript:void(0)" class="w3-btn w3-indigo">Tạo đề thi</a>
    <a data-ng-click="showaddTime()" href="javascript:void(0);" class="w3-btn w3-indigo">Cộng giờ ca thi</a>
</div>
<table class="w3-table w3-bordered w3-responsive">
    <tr class="w3-light-grey">
        <td>STT</td>
        <td><input type="checkbox" ng-model="isCheckedAll" ng-click="checkedAll()" /></td>
        <td>CA THI</td>
        <td>ĐỀ THI</td>
        <td class="w3-center"><i class="ion-ios-gear-outline"></i></td>
    </tr>

    <tr data-ng-repeat="shift in shifts">
        <td>{{($index + 1)}}</td>
        <td><input type="checkbox" name="examcheckbox" ng-model="shift.checkboxModel" /></td>
        <td>
            <a ui-sref="shift({ shiftId: shift.id })">{{ shift.name }}</a>
        </td>

        <td>
            <span ng-if="shift.questionSheetCreated">Đã có đề thi</span>
            <span ng-if="!shift.questionSheetCreated">Chưa có đề thi</span>
        </td>
        <td class="w3-center">
            <span ng-if="!shift.questionSheetCreated">
                <a data-ng-click="generateQuestionSheet()" href="javascript:;">Tạo đề thi</a> |
            </span>
            <a data-ng-click="showConfirm()" href="javascript:;">Xóa</a>
        </td>
    </tr>
</table>

<!--import student list modal-->
<div class="w3-modal" id="uploadModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="max-width: 600px">
        <div class="w3-container w3-teal">
            <span data-ng-click="cancel()" class="w3-closebtn w3-container w3-padding-8 w3-display-topright" title="Close Modal">×</span>
            <h4 class="modal-title" id="myModalLabel" ng-hide="uploadMode">Nhập từ Excel</h4>
        </div>
        <form class="w3-container" role="form" id="uploadFileStudentListForm" name="FileStudentListForm">
            <div class="w3-section">
                <div class="w3-row-padding w3-margin-bottom">
                    <div class="w3-col s10 w3-right">
                        <input type="file" id="fileExcel" name="fileExcel" accept=".xls, .xlsx" required onchange="angular.element(this).scope().getFileDetails(this)" />
                    </div>
                </div>
                <div class="w3-row-padding w3-margin-bottom">
                    <div class="w3-col s10 w3-right">
                        <input type="submit" value="Nhập" ng-disabled="FileStudentListForm.$invalid" data-ng-click="import()" class="w3-btn w3-blue" />
                        <input type="button" value="Thoát" data-dismiss="modal" class="w3-btn w3-red" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!--import matrix modal-->
<div class="w3-modal" id="uploadMatrixModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="max-width: 600px">
        <div class="w3-container w3-teal">
            <span data-ng-click="cancelMatrixModal()" class="w3-closebtn w3-container w3-padding-8 w3-display-topright" title="Close Modal">×</span>
            <h4 class="modal-title" id="myModalLabel" ng-hide="uploadMode">Nhập ma trận đề từ Excel</h4>
        </div>
        <form class="w3-container" role="form" id="uploadFileMatrixForm" name="FileMatrixForm">
            <div class="w3-section">
                <div class="w3-row-padding w3-margin-bottom">
                    <div class="w3-col s10 w3-right">
                        <input type="file" id="fileMatrixExcel" name="fileMatrixExcel" multiple="multiple" accept=".xls, .xlsx" required onchange="angular.element(this).scope().getFileDetails(this)" />
                    </div>
                </div>
                <div class="w3-row-padding w3-margin-bottom">
                    <div class="w3-col s10 w3-right">
                        <input type="submit" value="Nhập" ng-disabled="FileMatrixForm.$invalid" data-ng-click="importMatrix()" class="w3-btn w3-blue" />
                        <input type="button" value="Thoát" data-dismiss="modal" class="w3-btn w3-red" />
                    </div>
                </div>

                <table class="w3-table w3-bordered w3-responsive">
                    <tr class="w3-light-grey">
                        <td>STT</td>
                        <td>Mã ma trận</td>
                        <td>Ngày nhập</td>
                    </tr>

                    <tr data-ng-repeat="matrix in matrices">
                        <td>{{ $index + 1 }}</td>
                        <td>
                            {{ matrix.name}}
                        </td>
                        <td>
                            {{ matrix.createDate | date : 'dd/MM/yyyy'}}
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</div>
<!-- Exam modal popup -->
<div class="w3-modal" id="shiftModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="max-width: 600px">
        <div class="w3-container w3-teal">
            <span data-ng-click="cancelAdd()" class="w3-closebtn w3-container w3-padding-8 w3-display-topright" title="Close Modal">×</span>
            <h4 class="modal-title" id="createTitle">Tạo ca thi</h4>
        </div>
        <form class="w3-container" role="form" name="shiftForm">
            <div class="w3-section">
                <div class="w3-row-padding w3-margin-bottom">
                    <div class="w3-third">
                        <label>Ngày thi*</label>
                        <select ng-model="shift.shiftDay" id="day" class="w3-input w3-border" required>
                            <option value="">Ngày</option>
                            <option value="{{day}}" ng-repeat="day in days">{{day}}</option>
                        </select>
                    </div>
                    <div class="w3-third">
                        <label>Tháng thi*</label>
                        <select ng-model="shift.shiftMonth" id="month" class="w3-input w3-border" required>
                            <option value="">Tháng</option>
                            <option value="{{month}}" ng-repeat="month in months">{{month}}</option>
                        </select>
                    </div>
                    <div class="w3-third">
                        <label>Năm thi*</label>
                        <select ng-model="shift.shiftYear" id="year" class="w3-input w3-border" required>
                            <option value="">Năm</option>
                            <option value="{{(previousYear-1)}}">{{(previousYear-1)}}</option>
                            <option value="{{previousYear}}">{{previousYear}}</option>
                            <option value="{{(previousYear+1)}}">{{(previousYear+1)}}</option>
                            <option value="{{(previousYear+2)}}">{{(previousYear+2)}}</option>
                        </select>
                    </div>
                </div>
                <div class="w3-row-padding w3-margin-bottom">
                    <div class="w3-third">
                        <label>Giờ thi*</label>
                        <input class="w3-input w3-border" type="time" ng-model="shift.time" required />
                    </div>
                    <div class="w3-third">
                        <label>Thời lượng(phút)*</label>
                        <span class="w3-row-padding">
                            <input class="w3-input w3-border w3-left" type="number" min="1" max="1000" placeholder="Phút" ng-model="shift.duration" required />
                        </span>
                    </div>
                </div>
                <div class="w3-row-padding">
                    <div class="w3-col s9 w3-right">
                        <span>
                            <input type="submit" value="Lưu" ng-disabled="shiftForm.$invalid" data-ng-click="create()" class="w3-btn w3-blue" />
                        </span>
                        <input type="button" value="Thoát" data-ng-click="cancelAdd()" class="w3-btn w3-red" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Delete confirmation modal -->
<div class="w3-modal" id="confirmModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="max-width: 500px">
        <div class="w3-container w3-teal">
            <h4 class="modal-title" id="myModalLabel">Xác nhận!</h4>
        </div>
        <div class="w3-container">
            <div class="w3-section w3-col s10 w3-right">
                <h4>Bạn chắc chắn xóa không?</h4> <hr />
                <button type="button" class="w3-btn w3-blue" data-ng-click="delete()">Xóa</button>
                <button type="button" class="w3-btn w3-red" data-dismiss="modal">Thoát</button>
            </div>
        </div>
    </div>
</div>

<div class="w3-modal" id="confirmCreateQuestionSheets" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="max-width: 500px">
        <div class="w3-container w3-teal">
            <h4 class="modal-title" id="myModelTitle">Xác nhận!</h4>
        </div>
        <div class="w3-container">
            <div class="w3-section">
                <div class="w3-row-padding w3-center w3-margin-bottom">
                    <h4>Bạn muốn tạo đề cho các ca thi này?</h4> 
                    <button type="button" class="w3-btn w3-blue" data-ng-click="createQuestionSheets()">Tạo đề thi</button>
                    <button type="button" class="w3-btn w3-red" data-ng-click="hideCreateQuestionSheetsConfirm()">Thoát</button>
                </div>
                <div class="w3-row-padding w3-margin-bottom">
                    <hr />
                    <label for="title" class="w3-col s3">Ca thi: </label>
                    <div class="w3-col s9">
                        <div ng-repeat="name in checkedShiftNames">{{$index+1}}. {{ name }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--pop-up cộng giờ ca thi-->
<div class="w3-modal" id="addTimeModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="max-width: 600px">
        <div class="w3-container w3-teal">
            <span data-ng-click="cancel()" class="w3-closebtn w3-container w3-padding-8 w3-display-topright" title="Close Modal">×</span>
            <h4 class="modal-title" id="myModalLabel">Cộng giờ trong Đợt thi: {{ exam.name }}</h4>
        </div>
        <form class="w3-container" role="form" name="CongGioForm">
            <div class="w3-section">
                <div class="w3-row-padding w3-margin-bottom">
                    <label for="title" class="w3-col s3">Ca thi: </label>
                    <div class="w3-col s9">
                        <div ng-repeat="name in checkedShiftNames">{{$index+1}}. {{ name }}</div>
                    </div>
                </div>
                <div class="w3-row-padding w3-margin-bottom">
                    <label for="title" class="w3-col s3">Thời gian*</label>
                    <div class="w3-col s9">
                        <input type="number" max="180" ng-model="extraTimeModel.time" class="w3-input w3-border" placeholder="Phút" required />
                    </div>
                </div>
                <div class="w3-row-padding w3-margin-bottom">
                    <label for="title" class="w3-col s3">Lý do*</label>
                    <div class="w3-col s9">
                        <input type="text" ng-model="extraTimeModel.reason" class="w3-input w3-border" placeholder="Lý do" required />
                    </div>
                </div>
                <div class="w3-row-padding w3-margin-bottom">
                    <div class="w3-col s9 w3-right">
                        <input type="submit" value="Lưu" ng-disabled="CongGioForm.$invalid" data-ng-click="addTime()" class="w3-btn w3-blue" />
                        <input type="button" value="Thoát" data-ng-click="cancel()" class="w3-btn w3-red" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!--Search pop up-->
<div class="w3-modal" id="searchModel" tabindex="-1" aria-hidden="true">
    <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="width: 90%">
        <div class="w3-container w3-teal">
            <span data-ng-click="hideSearch()" class="w3-closebtn w3-container w3-padding-8 w3-display-topright" title="Close Modal">×</span>
            <h4 class="modal-title" id="myModalLabel">Kết quả tìm kiếm sinh viên</h4>
        </div>
        <form class="w3-container" role="form" name="searchForm">
            <div class="w3-section">
                <table class="w3-table w3-bordered w3-responsive">
                    <tr class="w3-light-grey">
                        <td class="w3-center">MÃ SỐ SINH VIÊN</td>
                        <td class="w3-center">HỌ LÓT</td>
                        <td class="w3-center">TÊN</td>
                        <td class="w3-center">LỚP</td>
                        <td class="w3-center">TRẠNG THÁI</td>
                        <td class="w3-center">ĐÃ CỘNG</td>
                        <td class="w3-center">MÔN THI</td>
                        <td class="w3-center"><i class="ion-ios-gear-outline"></i></td>
                    </tr>
                    <tr class="w3-light-grey" data-ng-repeat="student in students">
                        <td class="w3-center">{{ student.code }}</td>
                        <td class="w3-center">{{ student.lastName }}</td>
                        <td class="w3-center">{{ student.firstName }}</td>
                        <td class="w3-center">{{ student.className }}</td>
                        <td class="w3-center">
                            <label class="ion-flash-off w3-text-orange" ng-if="student.stateExam === 1"> Chưa đăng nhập</label>
                            <label class="ion-flash w3-text-teal" ng-if="student.stateExam === 2"> Đã đăng nhập</label>
                            <label class="ion-android-done w3-text-blue" ng-if="student.stateExam === 3"> Đã hoàn thành</label>
                        </td>
                        <td class="w3-center">{{ student.extraTime }}</td>
                        <td class="w3-center">{{ student.subjectName }}</td>
                        <td class="w3-center">
                            <div ng-if="student.createdQuestionSheet && student.stateExam !== 3">
                                <a href="javascript:;" data-ng-click="showModalAdTimeStudent(student)">Cộng giờ</a> |
                                <a href="javascript:;" data-ng-click="showReset()">Đăng nhập lại</a>
                            </div>
                            <a href="javascript:;" data-ng-click="reviewQuestionSheet(student.questionSheetId)" ng-if="student.stateExam === 3">{{student.score}} điểm</a>
                        </td>
                    </tr>

                </table>

                <div class="w3-row-padding w3-padding-12">
                    <div class="w3-col s24 w3-right w3-center">
                        <input type="button" value="Thoát" data-ng-click="hideSearch()" class="w3-btn w3-red" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="w3-modal" id="resetModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="max-width: 600px">
        <div class="w3-container w3-teal">
            <h4 class="modal-title" id="myModalLabel">Cho phép {{ student.lastName }} {{ student.firstName }} &minus; {{ student.code }} đăng nhập lại</h4>
        </div>
        <div class="w3-container">
            <div class="w3-row-padding w3-margin-bottom">
                <div class="w3-section">
                    <div class="w3-col s10 w3-right">
                        <h4>MSSV: {{student.code}}</h4>
                        <h4>Họ tên: {{student.lastName}} {{student.firstName}}</h4>
                        <h4>Bạn muốn cho sinh viên này đăng nhập lại?</h4> <hr />
                        <button type="button" class="w3-btn w3-blue" data-ng-click="resetLogin()">Cho phép</button>
                        <button type="button" class="w3-btn w3-red" data-ng-click="cancelReset()">Thoát</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="w3-modal" id="addTimeStudentModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="max-width: 600px">
        <div class="w3-container w3-teal">
            <span data-dismiss="modal" class="w3-closebtn w3-container w3-padding-8 w3-display-topright" title="Close Modal">×</span>
            <h4 class="modal-title" id="myModalLabel">Cộng giờ cho {{ student.lastName }} {{ student.firstName }} &minus; {{ student.code }}</h4>
        </div>
        <form class="w3-container" role="form" name="CongGioForm">
            <div class="w3-section">
                <div class="w3-row-padding w3-margin-bottom">
                    <label for="title" class="w3-col s3">Đã cộng:</label>
                    <div class="w3-col s9">
                        {{extraTimeStudent}}
                    </div>
                </div>
                <div class="w3-row-padding w3-margin-bottom">
                    <label for="title" class="w3-col s3">Thời gian</label>
                    <div class="w3-col s9">
                        <input type="number" ng-model="extraTimeModel.time" class="w3-input w3-border" placeholder="Phút" required />
                    </div>
                </div>
                <div class="w3-row-padding w3-margin-bottom">
                    <label for="title" class="w3-col s3">Lý do*</label>
                    <div class="w3-col s9">
                        <input type="text" ng-model="extraTimeModel.reason" class="w3-input w3-border" placeholder="Lý do" required />
                    </div>
                </div>
                <div class="w3-row-padding w3-margin-bottom">
                    <div class="w3-col s9 w3-right">
                        <input type="submit" value="Lưu" ng-disabled="CongGioForm.$invalid" data-ng-click="addTimeStudent()" class="w3-btn w3-blue" />
                        <input type="button" value="Thoát" data-dismiss="modal" class="w3-btn w3-red" />
                    </div>
                </div>
                <div class="w3-row-padding w3-margin-bottom">
                    <div class="w3-border-dark-grey" style="overflow-x: auto; max-height: 200px; width: 100%;">
                        <table class="w3-table w3-bordered w3-responsive" style="width: 100%;">
                            <tr>
                                <td style="width: 20%;">STT</td>
                                <td class="w3-center" style="width: 30%;">THỜI GIAN</td>
                                <td class="w3-center" style="width: 50%;">LÝ DO</td>
                            </tr>
                            <tr ng-repeat="extraTimeLog in extraTimeLogs">
                                <td style="width: 20%;">{{ $index + 1 }}</td>
                                <td class="w3-center" style="width: 30%;">{{ extraTimeLog.extraTime }}</td>
                                <td class="w3-center" style="width: 50%;">{{ extraTimeLog.reason }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!--reivew question sheet modal-->
<div class="w3-modal" id="review-questionsheet" tabindex="-1" aria-hidden="true" ng-include="'/views/shared/ReviewQuestionSheet.html'">
</div>